DerivedData
db.xcodeproj/xcuserdata/denizakya.xcuserdatad/xcdebugger/Breakpoints_v2.xcbkptlist
db.xcodeproj/project.xcworkspace/xcuserdata/denizakya.xcuserdatad/UserInterfaceState.xcuserstate
db/.DS_Store
